body {
    font-family: "OpenSans-Regular";
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.171429px;
}
p {
    font-size: 16px;
    line-height: 22px;
    /* or 137% */

    letter-spacing: -0.3px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "CIBFontSans-Bold";
    font-weight: bold;
    color: inherit;
}

.light {
    font-family: "CIBFontSans-Light" !important;
}

.tituloContent h1 {
    font-size: 40px;
}

.contenedorMenu h2 {
    font-size: 32px;
}

.contenedorMenu h3 {
    font-size: 28px;
}

.pregunta h3 {
    font-family: "CIBFontSans-Light" !important;
}

#bannerSection img {
    width: 100%;
}
#menuPoliticaPrivacidad {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
}

#menuPoliticaPrivacidad .controles {
    position: relative;
    top: 0;
}
#menuPoliticaPrivacidad .controles ul.menuControles {
    position: sticky;
    top: 0;
}

ul.menuControles {
    list-style: none;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
    padding: 0;
}

ul.menuControles li.itemMenu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s ease all;
}

ul.menuControles li.itemMenu .headItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 75px;
    max-height: 80px;
    border-bottom: 2px solid;
    border-color: #f4f4f4;
    padding: 0 18px;
    pointer-events: none;
}

ul.menuControles .subItem {
    color: #2c2a29;
    background: #fff;
}

ul.menuControles .subItem li {
    color: #2c2a29;
    background: #fff;
    min-height: 75px;
    max-height: 80px;
    border-bottom: 2px solid;
    border-color: #f4f4f4;
    padding: 0 40px;
    display: flex;
    font-size: 16px;
}

ul.menuControles .subItemMenu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s ease all;
    min-height: 75px;
    max-height: 80px;
    border-bottom: 2px solid;
    border-color: #f4f4f4;
    padding: 0 18px;
}

ul.menuControles li.itemMenu.active {
    background: #2c2a29;
    color: #fff;
}

ul.menuControles li.itemMenu h6 {
    font-size: 18px;
    margin: 0;
    font-family: "CIBFontSans-Light" !important;
}

ul.menuControles li.itemMenu svg {
    margin-right: 10px;
}

ul.menuControles li.itemMenu svg > path {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    fill: rgb(44, 42, 41);
}

ul.menuControles li.itemMenu.active svg > path {
    fill: #fff;
}

ul.menuControles li.itemMenu svg.absoluto {
    position: absolute;
    right: 20px;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: rotate(0deg);
}

ul.menuControles li.itemMenu svg.absoluto.active {
    transform: rotate(180deg);
}

.subItem {
    display: none;
}

.subItem.active {
    display: block;
}

.contenedorMenu {
    padding: 0 100px;
    overflow: hidden;
    /* width: calc(100% - 400px);
    margin-left: 400px; */
    position: relative;
    /* top: -300px; */
}

.contenedorMenu a {
    color: #2c2a29;
    font-weight: bold;
    text-align: right;
    text-decoration: underline;
}

.contenedorMenu a svg {
    margin-left: 10px;
}

.contenedorItem {
    margin-top: 20px;
    display: none;
}

.contenedorItem.active {
    display: block;
}

.icono svg {
    margin-bottom: 10px;
}

#solicitudesQuejasReclamos .contentTexto {
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 40px;
}

#reclamosCancelacion .contentTexto {
    border: none !important;
}

.contentTexto ul {
    list-style: none;
}

.contentTexto ul > li {
    position: relative;
}

.contentTexto ul > li:before {
    content: "\2022";
    color: #fdda24;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2.5em;
    margin-right: 0.5em;
    position: absolute;
}

.contentTexto ul {
    padding-left: 15px;
}
.contentTexto ul > li:before {
    margin-left: -1em;
}

.itemDescargar {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    align-items: center;
    background: #f5b6cd;
    padding: 10px;
    padding-bottom: 15px;
}

.itemDescargar p {
    margin: 0;
}

.pregunta {
    margin-bottom: 30px;
}

#canalesAtencion > div {
    margin-bottom: 20px;
}

#canalesAtencion .tituloContent h1 {
    font-size: 40px;
}

#canalesAtencion .subtitulo h2 {
    font-size: 32px;
}

#canalesAtencion .tituloTexto h3 {
    font-size: 28px;
}

#menuPoliticaPrivacidadMobile {
    display: none;
}

.contenedorLinked {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    align-items: center;
    max-width: 960px;
    margin: 60px auto;
    background: #f5b6cd;
}
.contenedorLinked .txtContent {
    display: flex;
    padding: 20px 0;
}

.contenedorLinked .iconIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.txtTxt h6,
.txtTxt p {
    margin: 0;
}

.contenedorLinked .linkedLink {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
}

.contenedorLinked .linkedLink a.btn {
    background: #fff;
    width: calc(100% - 20px);
    border-radius: 20px;
    text-decoration: none;
    position: relative;
}

.contenedorLinked .linkedLink a.btn svg {
    position: absolute;
    right: 10px;
}

.closeItems {
    display: none;
}

@media (max-width: 767px) {
    .closeItems {
        display: block;
    }

    .tituloContent h1 {
        font-size: 32px !important;
    }

    .contenedorMenu h2 {
        font-size: 28px;
    }

    .contenedorMenu h3 {
        font-size: 24px;
    }

    #menuPoliticaPrivacidad {
        display: none;
    }

    #menuPoliticaPrivacidadMobile {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 15px;
        background: #f4f4f4;
        overflow-y: hidden;
    }

    #menuPoliticaPrivacidadMobile .closeItems {
        margin-bottom: 10px;
    }

    #menuPoliticaPrivacidadMobile .closeItems a {
        text-decoration: none;
    }
    ul.menuControlesMobile {
        list-style: none;
        box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
        padding: 0;
        width: 100%;
        background: #fff;
    }

    ul.menuControlesMobile li.itemMenu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: 0.3s ease all;
    }

    ul.menuControlesMobile li.itemMenu.active {
        background: #2c2a29;
        color: #fff;
    }

    ul.menuControlesMobile li.itemMenu .headItem {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-height: 75px;
        max-height: 80px;
        border-bottom: 2px solid;
        border-color: #f4f4f4;
        padding: 0 18px;
        pointer-events: none;
    }

    ul.menuControlesMobile li.itemMenu .headItem.active {
        background: #2c2a29;
        color: #fff;
    }

    ul.menuControlesMobile li.itemMenu h6 {
        font-size: 18px;
        margin: 0;
        font-family: "CIBFontSans-Light" !important;
    }

    ul.menuControlesMobile li.itemMenu svg {
        margin-right: 10px;
    }

    ul.menuControlesMobile li.itemMenu svg > path {
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        fill: rgb(44, 42, 41);
    }

    ul.menuControlesMobile li.itemMenu.active svg > path {
        fill: #fff;
    }

    ul.menuControlesMobile li.itemMenu svg.absoluto {
        position: absolute;
        right: 10px;
    }

    ul.menuControlesMobile ul.subItem {
        list-style: none;
        padding: 0;
    }
    ul.menuControlesMobile li.subItemMenu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        transition: 0.3s ease all;
        min-height: 75px;
        max-height: 80px;
        border-bottom: 2px solid;
        border-color: #f4f4f4;
        padding: 0 18px;
    }
    .hiddenContent {
        display: none !important;
    }
    .hiddenContent.active {
        display: block !important;
        margin: 0 -15px;
        background: #fff;
    }
    .contenidosMobile .txtContent {
        padding: 30px 15px;
    }
    .contenidosMobile .txtContent h2 {
        margin-bottom: 30px;
    }
    a {
        text-decoration: underline;
        color: #292929;
    }
    .contenidosMobile .contentHead {
        background: #2c2a29;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .contenidosMobile .contentHead h5 {
        color: #fff;
        margin: 0;
    }
    .contenedorLinked {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}
